config/flows.json
[{"id":"ae17c6a290674c7a","type":"tab","label":"works","disabled":false,"info":"","env":[]},{"id":"7c8907b5755973e8","type":"tab","label":"Debugging","disabled":false,"info":"","env":[]},{"id":"010544479ef566b4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"16cd74edb3f2c03d","type":"tab","label":"Hue Scene (example)","disabled":false,"info":"Example use of the Hue Scene node"},{"id":"459ac1e1.0ae56","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"36fc5830704c4469","type":"mqtt-broker","name":"","broker":"192.168.178.39","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"66e020b8c12d5524","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7432baef3963d2e2","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"8f2a42dbaf992f01","type":"hue-bridge","name":"Philips hue","bridge":"192.168.178.37","key":"uZGYApeVlBgroOi8RfzVGvv3YOaJcOoEecGpyMCr","worker":"10","disableupdates":false},{"id":"ae155e7d1f253902","type":"mqtt-broker","d":true,"name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"af046290.fdf2b","type":"api-call-service","z":"ae17c6a290674c7a","name":"snapshot entities","server":"459ac1e1.0ae56","version":5,"debugenabled":false,"domain":"scene","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"scene_id\":\"door_before\",\"snapshot_entities\":[\"light.monitor_links\",\"light.monitor_rechts\",\"light.monitor_mitte\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":240,"wires":[["a8cb052ad5d64e2a","c6f24589.9beb48"]]},{"id":"c6f24589.9beb48","type":"delay","z":"ae17c6a290674c7a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":940,"y":240,"wires":[["f762690.97b1198"]]},{"id":"f762690.97b1198","type":"api-call-service","z":"ae17c6a290674c7a","name":"restore entitiy states","server":"459ac1e1.0ae56","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.door_before"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":240,"wires":[[]]},{"id":"968cbb6f7c0cd418","type":"api-call-service","z":"ae17c6a290674c7a","name":"snapshot entities","server":"459ac1e1.0ae56","version":3,"debugenabled":false,"service":"create","entityId":"","data":"{\"scene_id\":\"front_door_before_1\",\"snapshot_entities\":[\"light.schlafzimmerlampe\"]}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"scene","mergecontext":"","x":610,"y":360,"wires":[["5846e16299b2869f"]]},{"id":"5846e16299b2869f","type":"api-call-service","z":"ae17c6a290674c7a","name":"turn on bedroom light","server":"459ac1e1.0ae56","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.schlafzimmerlampe","data":"{\"brightness\":200}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":820,"y":340,"wires":[["85b9b98ac31f97d2"]]},{"id":"85b9b98ac31f97d2","type":"delay","z":"ae17c6a290674c7a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1020,"y":320,"wires":[["0133408f7e85f6e0"]]},{"id":"0133408f7e85f6e0","type":"api-call-service","z":"ae17c6a290674c7a","name":"restore entitiy states","server":"459ac1e1.0ae56","version":3,"debugenabled":false,"service":"turn_on","entityId":"scene.front_door_before_1","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"scene","mergecontext":"","x":1240,"y":300,"wires":[[]]},{"id":"5d4ad642902dfcc3","type":"mqtt out","z":"ae17c6a290674c7a","name":"printer off","topic":"cmnd/tasmota-mini/POWER","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"36fc5830704c4469","x":1500,"y":860,"wires":[]},{"id":"de1f80303f69f8ac","type":"mqtt in","z":"ae17c6a290674c7a","name":"octoPrint","topic":"octoPrint/event/PrinterStateChanged","qos":"2","datatype":"auto","broker":"36fc5830704c4469","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":500,"wires":[["79c2ece43fd42829"]]},{"id":"af1f335fe68af97e","type":"switch","z":"ae17c6a290674c7a","name":"","property":"payload.state_id","propertyType":"msg","rules":[{"t":"eq","v":"FINISHING","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":500,"wires":[["59c08bd51b8f41b1"]]},{"id":"59c08bd51b8f41b1","type":"change","z":"ae17c6a290674c7a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":500,"wires":[["1bba88247f155240"]]},{"id":"b172f611d09233b9","type":"time-range-switch","z":"ae17c6a290674c7a","name":"coords","lat":"49.867444","lon":"10.838434","startTime":"22:00","endTime":"6:00","startOffset":0,"endOffset":0,"x":890,"y":500,"wires":[["2e81268baa30dab0"],[]]},{"id":"1bba88247f155240","type":"delay","z":"ae17c6a290674c7a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":500,"wires":[["b172f611d09233b9"]]},{"id":"79c2ece43fd42829","type":"json","z":"ae17c6a290674c7a","name":"","property":"payload","action":"","pretty":true,"x":290,"y":500,"wires":[["af1f335fe68af97e"]]},{"id":"6370405f8e5da688","type":"api-current-state","z":"ae17c6a290674c7a","name":"thomas home","server":"459ac1e1.0ae56","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"device_tracker.pixel_7","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":300,"wires":[["423801ad7eb1031c"]]},{"id":"423801ad7eb1031c","type":"switch","z":"ae17c6a290674c7a","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":280,"wires":[["af046290.fdf2b"]]},{"id":"69afeec9c5ba7770","type":"mqtt out","z":"ae17c6a290674c7a","name":"printer on","topic":"cmnd/tasmota-mini/POWER","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"36fc5830704c4469","x":1500,"y":1040,"wires":[]},{"id":"3a7316caf9f9ab71","type":"change","z":"ae17c6a290674c7a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1040,"wires":[["69afeec9c5ba7770"]]},{"id":"112f595dc1a39763","type":"server-events","z":"ae17c6a290674c7a","name":"","server":"459ac1e1.0ae56","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"zwave_js_value_notification","x":260,"y":840,"wires":[["d575dd18df7cffd8","c905a0d4436e01e8","e81c5c7aedcd5b85"]]},{"id":"d575dd18df7cffd8","type":"switch","z":"ae17c6a290674c7a","name":"key pressed","property":"payload.event.value","propertyType":"msg","rules":[{"t":"eq","v":"KeyPressed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1000,"wires":[["6b08fa697977bcdb","b9772a7746884cce","cc3dfda33f9a3cd6"]]},{"id":"6b08fa697977bcdb","type":"switch","z":"ae17c6a290674c7a","name":"scene 002","property":"payload.event.property_key","propertyType":"msg","rules":[{"t":"eq","v":"002","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1040,"wires":[["3a7316caf9f9ab71"]]},{"id":"c905a0d4436e01e8","type":"switch","z":"ae17c6a290674c7a","name":"key held down","property":"payload.event.value","propertyType":"msg","rules":[{"t":"eq","v":"KeyHeldDown","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":860,"wires":[["b98a75839e356c7b","03b6cdce5c0ade68","d74d58ee117fa8bc"]]},{"id":"b98a75839e356c7b","type":"switch","z":"ae17c6a290674c7a","name":"scene 002","property":"payload.event.property_key","propertyType":"msg","rules":[{"t":"eq","v":"002","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":860,"wires":[["bcc34bcba5a0ed74"]]},{"id":"bcc34bcba5a0ed74","type":"change","z":"ae17c6a290674c7a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":860,"wires":[["5d4ad642902dfcc3"]]},{"id":"b9772a7746884cce","type":"switch","z":"ae17c6a290674c7a","name":"scene 001","property":"payload.event.property_key","propertyType":"msg","rules":[{"t":"eq","v":"001","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1000,"wires":[["49c617c470f9581b","1ca8cc5ba281a763"]]},{"id":"49c617c470f9581b","type":"hue-scene","z":"ae17c6a290674c7a","name":"Soho","bridge":"8f2a42dbaf992f01","sceneid":"ed592a7f-5b29-416a-b62a-92375c04a744","x":1230,"y":960,"wires":[[]]},{"id":"03b6cdce5c0ade68","type":"switch","z":"ae17c6a290674c7a","name":"scene 001","property":"payload.event.property_key","propertyType":"msg","rules":[{"t":"eq","v":"001","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":820,"wires":[["1d25a3b3501e5fa4","4aa99ff15ef251a1"]]},{"id":"c4e977dce6f9ab4d","type":"hue-light","z":"ae17c6a290674c7a","name":"Monitor links","bridge":"8f2a42dbaf992f01","lightid":"f8788a3c-a202-4e4e-b36e-52b3dffc6a12","colornamer":true,"skipevents":false,"initevents":false,"x":1250,"y":700,"wires":[[]]},{"id":"d5f4c2be7241c4e7","type":"hue-light","z":"ae17c6a290674c7a","name":"Monitor mitte","bridge":"8f2a42dbaf992f01","lightid":"f9813820-7e04-47b2-bc2b-2c59db4103eb","colornamer":true,"skipevents":false,"initevents":false,"x":1250,"y":760,"wires":[[]]},{"id":"72d00171b23ee582","type":"hue-light","z":"ae17c6a290674c7a","name":"Monitor rechts","bridge":"8f2a42dbaf992f01","lightid":"0d5cf3cf-f871-4681-895b-0793bce6d139","colornamer":true,"skipevents":false,"initevents":false,"x":1260,"y":820,"wires":[[]]},{"id":"1d25a3b3501e5fa4","type":"change","z":"ae17c6a290674c7a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":820,"wires":[["c4e977dce6f9ab4d","d5f4c2be7241c4e7","72d00171b23ee582"]]},{"id":"1ca8cc5ba281a763","type":"api-call-service","z":"ae17c6a290674c7a","name":"bulb 6","server":"459ac1e1.0ae56","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.bulb6","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":1230,"y":1000,"wires":[[]]},{"id":"4aa99ff15ef251a1","type":"api-call-service","z":"ae17c6a290674c7a","name":"bulb 6","server":"459ac1e1.0ae56","version":3,"debugenabled":false,"service":"turn_off","entityId":"light.bulb6","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":1230,"y":640,"wires":[[]]},{"id":"2e81268baa30dab0","type":"mqtt out","z":"ae17c6a290674c7a","name":"printer off","topic":"cmnd/tasmota-mini/POWER","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"36fc5830704c4469","x":1040,"y":480,"wires":[]},{"id":"cc3dfda33f9a3cd6","type":"switch","z":"ae17c6a290674c7a","name":"scene 003","property":"payload.event.property_key","propertyType":"msg","rules":[{"t":"eq","v":"003","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1080,"wires":[["b6cc418179319060"]]},{"id":"a8cb052ad5d64e2a","type":"hue-scene","z":"ae17c6a290674c7a","name":"Prusa Time","bridge":"8f2a42dbaf992f01","sceneid":"17159014-30e3-409d-a410-470bd0517e76","x":950,"y":180,"wires":[[]]},{"id":"c9571d63e522138b","type":"trigger-state","z":"ae17c6a290674c7a","name":"gaming door opened","server":"459ac1e1.0ae56","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_sensor_access_control_window_door_is_open_4","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":170,"y":300,"wires":[["6370405f8e5da688"],[]]},{"id":"d328f86b82ea5326","type":"trigger-state","z":"ae17c6a290674c7a","name":"front door opened","server":"459ac1e1.0ae56","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_sensor_access_control_window_door_is_open","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":170,"y":380,"wires":[["6370405f8e5da688","e81c5c7aedcd5b85","9e943a926dba525c"],[]]},{"id":"b6cc418179319060","type":"api-call-service","z":"ae17c6a290674c7a","name":"turn on living room lights","server":"459ac1e1.0ae56","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.regal, light.fenster","data":"{\"brightness\":200}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":1290,"y":1080,"wires":[[]]},{"id":"d74d58ee117fa8bc","type":"switch","z":"ae17c6a290674c7a","name":"scene 003","property":"payload.event.property_key","propertyType":"msg","rules":[{"t":"eq","v":"003","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":900,"wires":[["3aa99985ee87f913"]]},{"id":"3aa99985ee87f913","type":"api-call-service","z":"ae17c6a290674c7a","name":"turn off living room lights","server":"459ac1e1.0ae56","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.fenster","light.regal"],"data":"{\"brightness\":0}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":900,"wires":[[]]},{"id":"e81c5c7aedcd5b85","type":"debug","z":"ae17c6a290674c7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":640,"wires":[]},{"id":"b6d95a383a3f4f4a","type":"ha-tag","z":"ae17c6a290674c7a","name":"","server":"459ac1e1.0ae56","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["cfbe0257-3544-43c4-849a-bd0101e31c29"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":790,"y":680,"wires":[["1d25a3b3501e5fa4","4aa99ff15ef251a1"]]},{"id":"9e943a926dba525c","type":"time-range-switch","z":"ae17c6a290674c7a","name":"","lat":"49.867444","lon":"10.838434","startTime":"sunsetStart","endTime":"23:00","startOffset":0,"endOffset":0,"x":410,"y":380,"wires":[["968cbb6f7c0cd418"],[]]}]
